{% extends 'base.html' %}
{% load static %}
{% block hero-size %}is-large{% endblock %}
{% block page-hero-title %} {#  #}
    {% block title %}
        {% block descritpion %}
            Activities Website
        {% endblock %}
    {% endblock %}
{% endblock %}
{% block page-hero-subtitle %}Activities for every age{% endblock %}
{% block content %}
    <section class="posts">
        <div class="container">
            <div class="columns is-multiline">
                {% for activity in activities|slice:"0:6" %} {# Display only the first 6 activities #}
                    <div class="column is-12-mobile is-6-tablet is-4-widescreen is-6-desktop">
                        <div class="item post-card has-border bottom-border">
                            <a href="{% url 'activity_detail' activity.pk %}">
                                <img src="media/{{ activity.activity_image }}" alt="Image of {{ activity.title }}" style="max-height: 233px">
                            </a>
                            <div class="item-tags">
                                <a class="button tag-entertainment is-rounded" href="/" title="Entertainment" aria-label="Entertainments">#Entertainment</a>
                                <a class="button tag-movies is-rounded" href="/" title="Movies" aria-label="Moviess">#Movies</a>
                                <a class="button tag-books is-rounded" href="/" title="Books" aria-label="Bookss">#Books</a>
                            </div>
                            <div>
                                <div class="tags has-addons">
                                    <span class="tag">Attachment</span>
                                    {% if activity.activity_attachment %}
                                        <span class="tag is-primary">Yes</span>
                                        {% else %}
                                        <span class="tag has-background-grey-light">No</span>
                                    {% endif %}
                                </div>
                            </div>
                            <h2 class="title item-title is-size-4 has-text-weight-extra-bold">
                                <a class="card-header-title" href="{% url 'activity_detail' activity.pk %}">{{ activity.title|title }}</a>
                            </h2>
                            <div class="item-description">
                                {{ activity.activity_description|truncatechars:350 }} {# Display the first 350 characters #}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <nav class="pagination is-rounded  is-centered" role="navigation" aria-label="pagination">
                <ul class="pagination-list">
                    <li><a class="pagination-link button has-text-weight-bold is-primary">Page 1 of 5</a></li>
                    <li><a class="pagination-next has-text-weight-bold" href="/page/2/">Older Posts</a></li>
                </ul>
            </nav>
        </div>
    </section>
{% endblock %}