{% extends 'base.html' %}
{% load static %}
{% block page-hero-title %}
    {% block title %}
        Submit new activity
    {% endblock title %}
{% endblock page-hero-title %}
{% block descritpion %}
    {% block page-hero-subtitle %}
        Please submit new activity
    {% endblock page-hero-subtitle %}
{% endblock descritpion %}
{% block content %}
    <section class="section">
        <div class="container grid">
            <div class="content">
                <form enctype="multipart/form-data" action="{% url 'create_activity' %}" method="POST">
                    {% csrf_token %}
                    <div class="field">
                        <label for="title" class="label">Activity Title</label>
                        {{ activity_form.title }}
                    </div>
                    <div class="field">
                        <label for="activity_description" class="label">Activity Description</label>
                        {{ activity_form.activity_description }}
                    </div>

                    <div class="file has-name is-primary" style="padding: 1rem 0">
                        <label class="file-label">
                            {{ activity_form.activity_attachment }}
                            <span class="file-cta">
                                <span class="file-icon">
                                    <i class="uil uil-upload"></i>
                                </span>
                                <span class="file-label">
                                    Choose a file…
                                </span>
                            </span>
                            <span class="file-name has-background-light">
                                Permitted only: pdf, jpg, png, doc, docx
                                </span>
                        </label>
                    </div>


                    <input type="submit" class="button is-link is-fullwidth has-text-weight-medium is-medium" value="Submit activity">
                </form>
            </div>
        </div>
    </section>>
{% endblock %}