{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Activities{% endblock %} | Activities</title>
    <meta name="description" content="{% block descritpion %}{% endblock %}. Activities for everyone"/>

    <meta name="HandheldFriendly" content="True"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- STYLESHEETS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.min.css' %}"/>
    <!-- BULMA CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bulma.css' %}"/>
    <!-- ICONS -->
    {#    <script src="https://kit.fontawesome.com/09d3af5db0.js" crossorigin="anonymous"></script>#}
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon"/>
    <link rel="manifest" href="{% static 'images/site.webmanifest' %}">
    <style>
        .center {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .grid {
            display: grid;
            grid-template-columns:
                    [xl-start] 1fr 1.5rem [md-start] minmax(0, 800px) [md-end] 1.5rem 1fr [xl-end];
        }
        .grid *  { grid-column: md; }
        .grid-xl { grid-column: xl; }
    </style>
</head>
<body class="home-template">
<header class="header">
    <nav class="navbar">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item has-text-white is-size-4 has-text-weight-bold" href="/">
                    Activities / Logo
                </a>
                <span role="button" tabindex="0" class="navbar-burger burger has-text-white" data-target="navbar-menu">
          <span></span>
          <span></span>
          <span></span>
        </span>
            </div>
            <div id="navbar-menu" class="navbar-menu">
                <div class="navbar-end">
                    <!-- Loop through the navigation items -->
                    <a class="navbar-item nav-home is-active" href="/">Home</a>
                    <a class="navbar-item nav-features" href="/">About</a>
                    <a class="navbar-item nav-tech" href="/">Help</a>
                    <a class="navbar-item nav-web" href="/">Login</a>

                </div>
            </div>
    </nav>
</header>
<main class="main">
    <section class="hero is-primary background-img {% block hero-size %}{% endblock %}" style="background-image: url('{% block hero-image %}{% static 'images/2016.jpg' %}{% endblock %}')">
        <!-- Hero content: will be in the middle -->
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title is-size-1 has-text-white">
                    {% block page-hero-title %}
                        Activities
                    {% endblock %}
                </h1>
                <h2 class="subtitle has-text-light">
                    {% block page-hero-subtitle %}
                        Activities for every page
                    {% endblock %}
                </h2>
            </div>
        </div>
    </section>
        {% block content %}
        {% endblock %}
</main>
<footer class="footer">
    {% block footer %}
        {% include 'base_footer.html' %}
    {% endblock %}
</footer>
</body>
</html>