/* Error: Undefined variable.
 *   ,
 * 1 | $primary: $turquoise !default
 *   |           ^^^^^^^^^^
 *   '
 *   derived-variables.sass 1:11  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 1 \2502  $primary: $turquoise !default\a   \2502            ^^^^^^^^^^\a   \2575 \a   derived-variables.sass 1:11  root stylesheet";
}
